/****....Reset CSS....*/
/*declaración de variables*/
:root{
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px /*anchura de crecimiento*/
}
/*asignacion de variables*/
html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth; /*transicion no subita de una seccion a otra*/
}
*,
*:before,
*:after{
    box-sizing: inherit;/*heredando de html box-sizing*/
} 
body{
    margin: 0;
    overflow-x: hidden;/*ocultar contenido horizontal y la barra de desplazamiento*/
}
img{
    max-width: 100%;
    height: auto;
}
/****....menu hamburguesa....*/
header{ 
    position: sticky;/*pegado al top con top en 0*/
    z-index: 997;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}
header.conexion{
    padding: 0rem;
    z-index: 998;
    transition: transform 0.3s ease;
    transform: translate(0%, -100%);
}
header.conexion.conexion-on{
    background-color: lightgreen;
    transform: translate(0%, 0%);
}
header.conexion.conexion-off{
    background-color: red;
    transform: translate(0%, 0%);
}
header h1{ /*para el h1 dentro del header*/
    margin: 0 auto;
    text-align: center;
}
section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;/*cada seccion ocupe el tamaño de 100 de altura*/
    text-align: center;
}
section div {
    background-color: transparent;
}
.row h2{
    padding: 1rem;
}
.container-fluid {
    padding: 1rem;
}
.panel{
    position: fixed;
    padding-top: 4rem;
    z-index: 998;/*para que este debajo del boton, ensima de todo*/
    top: 0;/*para estirar todo hacia arriba*/
    bottom: 0; /*para estirar todo hacia abajo*/
    right: 0;/*para estirar todo hacia derecha*/
    left: 0;/*para estirar todo hacia izquierda*/
    max-width: 100%;
    width: 100%;
    background-color:var(--second-modal-color);
    transition: transform 0.3s ease;/*para que se vea el efecto de movimiento de tranform*/
    transform: translate(-100%, 0%);/*para que el menu salga de arriba*/
}
/*para usar y que se vea el menu*/
.panel.is-active{
    transform: translate(0%, 0%);
}
button.panel-btn{
    position: fixed;
    z-index: 999;/*profundidad alta para que nada se sobreponga al boton*/
    bottom: 1vh;
    right: 1vw;/*con fixed hubicado de manera fija abajo derecha*/
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;/*con flex por el contenido del boton, todo al centro*/
    background-color: var(--main-color);
}
/*para el boton de volver al inicio*/
button.panel-up.is-active{
    position: fixed;
    z-index: 999;/*profundidad alta para que nada se sobreponga al boton*/
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;/*con flex por el contenido del boton, todo al centro*/
    background-color:var(--main-color);
    transform: rotate(90deg);
    transition: all 0.3s ease-out;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
.menu{
    width: inherit; /*heredar anchura del contenedor*/
    display: flex;
    flex-direction: column;/*flex en direccion columna*/
    justify-content: space-evenly;/*space-evenly espacio ecuanime para cada elemento*/
    align-items: center;
    text-align: center;
}
.menu a{
    padding: 0.5rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none ; /*quitar linea de enlace*/
    color: var(--main-color);
    transition: all 0.3 ease;/*para que se note el cambio a hover*/
}
.menu a:hover{
    font-weight: bold; /*cambio del grosor de letra*/
    color: var(--second-color);
    background-color: var(--main-color);
}
/*Eventos del teclado*/
.stage{
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}
.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}
/*-----------------Modo oscuro----------*/
/*boton*/
button.btn-change{
    position: fixed;
    z-index: 999;/*profundidad alta para que nada se sobreponga al boton*/
    bottom: 1vh;
    left: 1vw;/*con fixed hubicado de manera fija abajo derecha*/
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;/*con flex por el contenido del boton, todo al centro*/
    background-color: var(--main-color);
    border: var(--main-color);
    font-weight: bold;
    font-size: 40px;
    color: var(--second-color);
    align-content: center;
}
button.btn-change:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}
:root.html-is-active{
    --bs-body-bg:var(--second-color);
}
body h2.is-active,h3.is-active,p.is-active{
    color: var(--main-color);
}
body h1.is-active{
    color: var(--main-color);
}
header.is-active{
    background-color: var(--second-color);
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    background-color: var(--second-color) !important;
    color: var(--main-color);
    transition: all 0.3s ease-out;
}
.card figcaption{
    padding-top: 1rem;
}
.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
}
/*------------------Responsive Slider-----------*/
.slider{
    position: relative;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}
.slider-slides{
    position: relative;
    height: 400px;
}
.slider-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}
.slider-slide img{ /*para que no se deforme la imagen a cualquir dimecion*/
    height: inherit;
    width: inherit;
    object-fit: cover;/*para que se adapte al contenedor a partir del centro*/
    object-position: 50% 0%; /*adaptamos a partir de la coordenadas X y Y*/
}
.slider-slide.active{
    opacity: 1;
    visibility: visible;
}
.slider-btns{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;/*para que se separen entre elementos*/
    font-size: 3rem;
    font-weight: bold;
}
.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
.slider a:hover{
    color: #4d4d4d;
}
.datos {
    border-color: #FF5733;
    border-width: 0.12rem;
}
.rowImput{
    width: 100%;
    align-self: center;
    padding: 0.5rem;
}
.rowErroneo{
    background-color: #FF5733;
    transition: all 0.3ms ease;
    color: white;
}
.datos-validados{
    border-color: #50EA10;
}
@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
            "header header"
            "main   panel";
    }
    main{
        grid-area: main;
    }
    .header{
        grid-area: header;
    }
    .panel{
        grid-area: panel;
        align-self: start;
        position: sticky;
        padding-top: 0%;
        top: 4rem;
        justify-content: flex-start;
        background-color: var(--second-color);
        transform: translate(0%, 0%);
        opacity: 1;
        visibility: visible;  
    }
    .panel-btn{
        display: none;
        visibility: hidden;
    }
    .menu{
        justify-content: start;
        text-align: right;
    }
    .menu a{
        font-size: 1rem;
    }
    .menu a:hover,
    .menu a.active{
        color: var(--second-color);
        background-color: var(--main-color);
    }
    button.panel-up.is-active{
        left: calc(4.25rem + 1vw);
    }
}
/********************formularios********************/
.contact-form{
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.contact-form > *{
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}
.contact-form textarea{
    resize: none;
}
.contact-form legend,
.contact-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}
.contact-form input[type="submit"]{
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}
.contact-form *::placeholder{
    color: black;
}
.contact-form [required]:valid{
    border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid{
    border: thin solid var(--form-error-color);
}
.contact-form-error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: white;
    transition: all 800ms ease;
    text-align: center;
}
.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}
.contact-form-loader{
    justify-content:center;
}
.none{
    display: none;
}
@keyframes show-message {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}